.result-dialog {
    height: 90vh;
    width: var(--content-width);
    inset: 0 calc((100vw - var(--content-width))/2) 0 calc((100vw - var(--content-width))/2) !important;
}

.result-dialog--content.MuiDialogContent-root {
    margin: 0 8px;
    padding: 0 8px;
}

.result-dialog--content--paths {
    max-height: 40vh;
    padding: 0 8px;
    padding-bottom: 1rem;
    height: 50%;
    overflow-y: auto;
    border: 1px solid black;
    border-radius: var(--paper-radius);
}

.result-dialog .loader-image-container img {
    width: 40%;
    height: auto;
}

.result-dialog--content--result-data {
    padding: 0 8px;
    font-size: larger;
    font-weight: bold;
}

.mobile .result-dialog--content--result-data {
    font-size: medium;
}

.result-dialog>.MuiDialog-container>.MuiPaper-root{
    overflow: hidden;
}

.result-dialog .MuiDialog-paperWidthSm {
    max-width: calc(100% - 64px);
    width: 100%;
    margin: 0;
    height: 100%;
    max-height: calc(100% - 64px);
}

#result-dialog--title .MuiTypography-h6 {
    font-size: x-large;
}

.result-dialog--actions {
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
}

.result-dialog--content ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.result-dialog--content li {
    width: 100%;
    margin-top: 1rem;
}