.app {
    display: flex;
    align-items: center;
    justify-self: center;
    width: var(--content-width);
    height: calc(100vh - var(--header-height));
    margin-top: var(--header-height);
    background-color: var(--color-one);
    margin-right: calc((100vw - var(--content-width))/2);
    margin-left: calc((100vw - var(--content-width))/2);
}