.mobile .cost-dialog.MuiDialog-root {
    width: 100vw;
    height: 40vh;
    bottom: 0;
    left: 0;
    right: 0;
    inset: 60vh 0 0 0 !important; 
}

.mobile .cost-dialog .MuiDialog-paperWidthSm {
    width: 100%;
    margin: 0;
    height: 100%;
    max-height: 100%;
}

.mobile .cost-dialog .MuiDialogActions-root {
    align-items: flex-end;
}

.desktop .cost-dialog .MuiDialog-paperWidthSm {
    margin: 0;
    padding: 0 1rem 0 1rem;
}

.cost-dialog h2.MuiTypography-root {
    font-size: 1.5rem;
}

.cost-dialog .MuiFormLabel-root {
    font-size: 1.3rem;
}

.cost-dialog .MuiInputBase-root {
    font-size: 1.3rem;
}