.app {
    position: relative;
    display: flex;
    align-items: center;
    justify-self: center;
    width: var(--content-width);
    height: 100vh;
    overflow: hidden;
    background-color: var(--color-one);
    margin-right: calc((100vw - var(--content-width))/2);
    margin-left: calc((100vw - var(--content-width))/2);
}