.cost-info {
    border-radius: var(--paper-radius);
    background-color: #DFDBE5;
    background-image: var(--background-pattern);
    width: var(--main-item-width);
}

.cost-info :first-child{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--paper-radius);
}

.cost-info.MuiPaper-rounded {
    border-radius: var(--paper-radius);
}

.cost-info--box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0.5rem 2rem 0.5rem 2rem;
}

.cost-info--box--value {
    display: flex;
    flex-direction: var(--flex-diretion);
    font-size: large;
}

.cost-info--box--value span {
    margin-left: 0.25rem;
}

.cost-info .button {
    margin-left: 1rem;
    border-radius: var(--paper-radius);
    padding: 0.5rem 2rem 0.5rem 2rem;
}

.cost-info-button.MuiButton-containedPrimary {
    background-color: var(--color-two);
}