:root {
	--color-one: #EEEDE7;
	--color-two: #868B8E;
	--color-three: #B9B7BD;
    --color-four: #E7D2CC;

	--content-width: 50vw;
	--header-height: 10vh;
	
	--flex-diretion: row;

	--background-pattern: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%239C92AC' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E");

	--paper-radius: 10px;

	--main-item-width: 80%;
}

[data-device='mobile'] {
	--content-width: 100vw;
	--flex-diretion: column;
}

@media only screen and (max-width: 1200px) {
	[data-device='desktop'] {
		--content-width: 60vw;
	} 
}


@media only screen and (max-width: 1000px) {
	[data-device='desktop'] {
		--content-width: 80vw;
	} 
}

@media only screen and (max-width: 800px) {
	[data-device='desktop'] {
		--content-width: 100vw;
		--flex-diretion: column;
	} 
}